<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  
  <%- partial('_partial/header') %>
  <body>
    <main class="main">
      <%- body %>
    </main>
  </body>

  <script>
   
  </script>

  <%- partial('_partial/footer') %>

</html>