@import "_variables"
@import "_colors/" + $colors
@import "_prism/" + $prism
@import "_partial/head.styl"
@import "_partial/header.styl"
@import "_partial/post.styl"
@import "_partial/mulu-list.styl"
@import "_partial/pagination.styl"
@import "_partial/page.styl"
/*搜索的关键字*/
.search-keyword {
  color: #ff6369;
}

footer {
  text-align: center;
  background-color: $color-footer-bg;
  height: 40px;
  line-height:40px;
}